@font-face {
    font-family: 'Pribambas';
    src: local('Pribambas'), url('./fonts/Pribambas-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Pribambas';
    src: local('Pribambas'), url('./fonts/Pribambas-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans'), url('./fonts/PTSans-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: 400;
}


html {
    box-sizing: border-box;
}


body {
    margin: 0 auto;
    
}

.container {
    max-width: 1952px;
    margin: 0 auto;
    align-self: center;
    min-width: 410px;
    padding: 0;
}

