
.formContainer {
    margin: 0 auto;
}

.formContainerTeacher {
    margin-top: 82px;
}

.secondScreen {
    background: linear-gradient(0.5deg, #E8F5FB 23.68%, var(--white-main) 56.41%, var(--white-main) 102.23%);
    background-repeat: no-repeat;
    padding: 70px 40px 0px;
    align-items: center;
    overflow: hidden;
}

.ScndScrPrehead {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.backGrndLayer {
    display: inherit;
    height: 585px;
    width: 1500px;
    background-image: url('../../img/flowersSecondScr.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.thankyouBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;   
}

.hashtag {
    display: flex;
    align-items: center;
    max-width: 430px;

}

.hashtagText {
    font-family: 'Pribambas';
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    text-decoration-line: underline;
    color: var(--blue-3);
}

.thankyouText {
    max-width: 720px;
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    color: var(--black-1);
    z-index: 6;
    font-family: 'Pribambas';
}

.thankyouForm {
    min-height: 600px;
    max-width: 1220px;
    display: flex;
    align-items: top;
    gap: 16px;
    padding: 0 15px 0 15px;
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
}

.teacherForm {
    margin-top: 24px;
}

.formGroup {
    width: 100%;
}

.thankTitle {
    font-family: 'Pribambas';
    font-size: 50px;
    line-height: 51px;
    text-transform: uppercase;
    color: var(--blue-3);
    margin-top: 24px;
}

.fieldsText {
    font-size: 20px;
    line-height: 28px;
    color: var(--black-main);
    max-width: 440px;
    text-align: left;
}



input {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid var(--grey-1);
    box-shadow: 0px 0px 0px var(--blue-4);
    border-radius: 5px;
    box-sizing: border-box;
    height: 38px;
    font-size: 16px;
    line-height: 21px;
}

fieldset {
    border-style: none;
}

.btnPrimary {
    width: 198px;
    height: 48px;
    background: var(--grey-3);
    border: none;
    outline: none;
    font-family: 'Pribambas';
    font-size: 25px;
    color: var(--grey-2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border-radius: 4px;
}


.btnPrimary:hover {
    background-color: var(--blue-4);
    outline: none;
}

.btnPrimary:active {
    transform: scale(0.95);
    background-color: tomato;
    color: var(--white-main);
    outline: none;
    border: none;
}


.formContainer {
    margin-bottom: 72px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 15px 0 15px;
    font-weight: 400;
}

.gramotaMin {
    display: none;
    width: 350px;
    height: 250px;
    background-color: transparent;
}

@media screen and (max-width: 1050px) {
    .backGrndLayer {
        height: auto;
    }

    .secondScreen {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url('../../img/secondScrFlowers.svg');
       
    }

    .formContainer {
        width: auto;
        height: auto;
        text-align: center;
    }

    .thankTeacher {
        margin: 0 auto;
    }

    .teacherSecondScreen {
        padding-left: 12px;
        padding-right: 12px;
    }


    .gramotaMin {
        display: block;
        margin: 0 auto;
        margin-bottom: 72px;
    }

    .btnPrimary {
        margin: 0 auto;
    }


}

@media screen and (max-width: 520px) {
    .hashtag {
        flex-direction: column;
        justify-content: center;
        gap: 12px;

    }

    hashtagText {
        line-height: 1;
    }
}
