@font-face {
    font-family: 'Pribambas';
    src: local('Pribambas'), url('./fonts/Pribambas-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Pribambas';
    src: local('Pribambas'), url('./fonts/Pribambas-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans'), url('./fonts/PTSans-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: 400;
}

:root {
    --blue-1: #0791DE;
    --blue-2: #58CAFF;
    --blue-3: #00ADEE;
    --blue-4: #CBDAFC;

    --black-main: #000000;
    --black-1: #181716;

    --grey-1: #CFD4D9;
    --grey-2: #6C757D;
    --grey-3: #E7E7E1;

    --white-main: #FFFFFF;
}


html {
    box-sizing: border-box;
}


body {
    margin: 0 auto;
    line-height: 1.1;
}

.container {
    max-width: 1952px;
    margin: 0 auto;
    align-self: center;
    min-width: 410px;
    padding: 0;
}
